@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* ---------------------------- BARRA NAVEGACION --------------------*/
.header__div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 10vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    background-image: url(./imagenes/bgheader.png);
    background-size: cover;
}

.header__logo {
    height: 10rem;
    width: 10rem;
}

header p {
    font-weight: 700;
}

.header__h1 {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.barraNavegacion__lista { 
    display: flex;
    list-style: none;
    height: 10vh;
    width: 100vw;
    background-color: #000;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.barraNavegacion__lista__item__anchor {
    text-decoration: none;
    color: #ffffff;;
    font-size: 1.5rem;
    font-weight: 700;
}

.active {
    color: violet;
}

@media only screen and (max-width: 768px) {
    .header__div {
        padding-left: 20vw;
    }
    
    .header__logo {
        padding-right: 10vw;
    }

    .barraNavegacion__lista__item__anchor {
        font-size: 1.2rem;
    }
}

/* ---------------------------- INDEX ------------------------------- */
.home__section {
    margin: 20px 0px 20px 0px;
}

.home__article {
    display: flex;
}

.home__section__parrafo {
    width: 50vw;
    text-align: justify;
    color: #000000;
    font-weight: 400;
    padding: 0.4vh 2vw 2vh 2vw;
    line-height: 4vh;
}

.home__section__img {
    width: 75vw;
    height: auto;
    margin-top: 2vh;
    margin-left: 14vw;
}

.home__section__parrafo:first-child {
    border-right: 1px solid black;
}

/* ---------------------------- QUIENES SOMOS --------------------------------- */

.quienesSomos {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.quienesSomos__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.quienesSomos__section__h2 {
    font-size: 38px;
    margin-bottom: 5vh;
    width: 25vw;
    border-bottom: 2px solid violet;
}

.quienesSomos__section__parrafo {
    text-align:justify;
    line-height: 4vh;
}

/* ---------------------------- GALERIA ----------------------------------- */

/* .galeria {
    display: flex;
    margin: 1%;
    justify-content: center;

} */

/* .galeria__div {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%;
} */

.galeria__div__img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    padding: 1%;
    border-radius: 15%;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 15vw;
    margin: 5vh 0 5vh 15vw;
    }

.galeria h3 {
    padding-left: 12vw;
}

.galeria hr {
    width: 25vw;
    margin-left: 3vw;
}

.imgUno { 
    grid-area: 1 / 1 / 2 / 2;
}
.imgDos { 
    grid-area: 1 / 2 / 2 / 3; 
}
.imgTres { 
    grid-area: 2 / 1 / 3 / 2; 
}
.imgCuatro { 
    grid-area: 2 / 2 / 3 / 3; 
}
.imgCinco { 
    grid-area: 3 / 1 / 4 / 2; 
}
.imgSeis { 
    grid-area: 3 / 2 / 4 / 3; 
}

/* ---------------------------- PLANES ----------------------------------- */

.planes {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.planes__tabla {
    display: flex;
    justify-content: center;
    width:50vw;
    border: 1px solid black;
    padding: 10;
}

th,td {
    text-align: center;
    border: 1px solid black;
    width: 10vw;
    height: 8vh;
}

th {
    background-color: black;
    color: white;
    font-weight: 700;
}

table tr td:first-child {
    background-color: black;
    color: white;
    font-weight: 700;
}

.planes__section {
    margin-top: 4vh;
    margin-bottom: 10vh;
    width: 90vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.planes__section__div {
    margin-right: 1vw;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10%;
}

.planes__section__div:hover {
    background-color: violet;
    color: white;
}

.planes__section__div:hover h2 {
    border-bottom: 2px solid black;
    font-size: 28px;
}

.planes__section h2 {
    text-align: center;
    margin-bottom: 5vh;
    width: 16vw;
    border-bottom:  2px solid violet;
    margin-left: 2vw;
}

.planes__section i {
    padding-right: 1vw;
}

.planes__section p {
    text-align: justify;
    line-height: 1.5rem;
}

.planFuncional {
    grid-area: 1 / 1 / 3 / 2;
}

.planMusculacion {
    grid-area: 1 / 2 / 3 / 3;
}

.planCrossfit {
    grid-area: 1 / 3 / 3 / 4;
}

.planDeportivo {
    grid-area: 1 / 4 / 3 / 5;
}

/* ---------------------------- CONTACTO ----------------------------------- */

.contacto {
    display: flex;
    justify-content: center;
}

.contacto__div {
    margin: 1vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.contacto__div__form {
    width: 20vw;
    height: 85vh;
    border: 5px solid black;
    border-radius: 10%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__div__form div {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__creditos label {
    padding: 0.5vh;
    margin-left: 5vw;
} 

.form__creditos input {
    margin-right: 1vw;
}

.boton_inscripcion {
	background-color:#b144c7;
	border-radius:28px;
	border:1px solid #ab18a4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66275e;
    margin-bottom: 2vh;
}
.boton_inscripcion:hover {
	background-color:#bf2abf;
}
.boton_inscripcion:active {
	position:relative;
	top:1px;
}

.boton_restablecer {
	background-color:#8a7e8c;
	border-radius:28px;
	border:1px solid #756975;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #423e42;
}
.boton_restablecer:hover {
	background-color:#847f87;
}
.boton_restablecer:active {
	position:relative;
	top:1px;
}

.contacto__div__mapa {
    width: 50vw;
    margin: 1vh;
}
.contacto__mapa__iframe {
    width: 45vw;
    height: 85vh;
}

@media only screen and (max-width: 768px) {
    .contacto__div__mapa {
        display: none;
    }

    .contacto__div__form {
        width: 50vw;
        height: auto;
        border: 5px solid black;
        border-radius: 10%;
        padding: 1rem;
    }
}


/* ---------------------------- FOOTER ----------------------------------- */

.footer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.footer__lista {
    list-style: none;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
}

.redes div p {
    font-size: 1.5rem;
    border-bottom: 0.2vh solid violet;
    padding-bottom: 1vh;
    width: 15vw;
    text-align: center;
}

.footer__lista__redes {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding:10px;
}

.footer__lista__redes__logo {
    height: 2rem;
    width: 2rem;
    padding-right: 10%;
    margin-top: 5%;
} 

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.direccion p:first-child {
    font-size: 2rem;
}

.direccion__a {
    text-decoration: none;
    color: white;
    border-top: 0.2vh solid violet;
    padding-top: 0.5vh;
    
}

.partners {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partners__logo {
    width: 8rem;
    height: 8rem;
}

.partners img {
    padding: 1vw;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {

    .redes div p {
        font-size: 1rem;
        width: 30vw;
    }

    .footer__lista {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

    }

    .footer__lista__redes {
        display: flex;
        align-items: center;
        margin: 0.1rem;
        padding: 0.1rem;
    }
    
    .footer__lista__redes__logo {
        height: 2rem;
        width: 2rem;
        margin: 0;
        padding: 0;
    } 

    .partners {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .partners__logo {
        width: 4rem;
        height: 4rem;
    }

    .direccion {
        font-size: 1rem;
        justify-content: flex-start;
        padding-top: 1.8vh;
        margin-top: 1.1vh;
    }

    .direccion__a {
        padding-top: 4vh;
    }
}